/* UTILITY */
.btn {
    border-radius: 20px;
}


/* HEADER */
/* header-top */
.ms_header-top {
    background-color: black;
    height: 25px;
    width: 100%;
}

.ms_box-sony {
    height: 100%;
}

.ms_header-top img {
    max-height: 100%;
}

.ms_p-2 {
    padding: .3rem;
}
/* /header-top */

/* header-bottom */
.nav-link {
    color: black;
}

.btn-dark {
    color: white;
}

.ms_search {
    height: 30px;
}
/* /header-bottom */
/* /HEADER */


/* MAIN */
/* banner */
.banner {
    background-image: url(../img/jumbo-bg.png);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

    height: 82vh;
}

.ms_container-banner {
    height: 100%;
    width: 100%;
    position: relative;
}

.ms_banner-container {
    position: absolute;
    bottom: 0;
    left: 0;
}

.ms_returnal img {
    max-width: 100%;
    width: 60%;
}

.banner .card {
    background-color: transparent;
    border: none;
}