/* UTILITY */
.btn {
    border-radius: 20px;
}

img {
    max-width: 100%;
}


/* HEADER */
/* header-top */
.ms_header-top {
    background-color: black;
    height: 25px;
    width: 100%;
}

.ms_box-sony {
    height: 100%;
}

.ms_header-top img {
    max-height: 100%;
}

.ms_p-2 {
    padding: .3rem;
}
/* /header-top */

/* header-bottom */
.nav-link {
    color: black;
}

.btn-dark {
    color: white;
}

.ms_search {
    height: 30px;
}
/* /header-bottom */
/* /HEADER */


/* MAIN */
/* banner */
.banner {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center top;
    color: white;
}

.ms_card-banner {
    padding: 20rem 0 1rem 0;
}

.ms_card-banner-logo {
    width: 50%;
}

.ms_btn-banner {
    background-color: #cd3d10;
    color: white;
}

@media screen and (min-width: 992px) {
    .ms_card-banner-logo {
        width: 25%;
    }

    .ms_card-banner {
        width: 45%;
    }
}
/* /banner */

/* ps5 */

.ms_op6 {
    opacity: .6;
}
/* /ps5 */

/* takes two */
.takes-two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center top;
    color: white;
}

.ms_card-takes {
    padding: 1rem 0 1rem 0;
}

.ms_card-takes-logo {
    width: 50%;
}

.ms_btn-takes {
    background-color: #cd3d10;
    color: white;
}

@media screen and (min-width: 992px) {

    .ms_card-takes {
        width: 40%;
    }
}
/* /takes two */

/* uscite */
.uscite {
    background-color: #1f1f1f;
    color: white;
}
/* /uscite */

/* ps4 */
@media screen and (min-width: 992px) {
    .ms_ps4-tittolo {
        width: 70%;
        max-width: 670px;
        margin: auto;
    }
}

/* ps plus */
.ms_plus {
    background-color: #bebcbb;
}

.ms_plus .col-12 img {
    width: 70%;
    max-width: 350px;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .ms_plus .col-12 img {
        margin: -1px 0 -1px;
    }
}
/* /ps plus */

/* ps now */
.ms_now {
    background-color: #161c3b;
    color: white;
}

.ms_now .col-12 img {
    width: 70%;
    max-width: 350px;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .ms_now .ms_img-ps {
        margin: -1px 0 -1px;
    }
}
/* /ps now */

/* social media */
.ms_container-social {
    width: 100%;
    max-width: 540px;
    margin: auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
/* /social media */
/* /MAIN */

/* FOOTER */
footer {
    background-color: #00439c;
    color: white;
    padding-top: 5rem;
}

.ms_footer-logo-ps {
    width: 120px;
}

.ms_languaje {
    width: 15px;
    vertical-align: middle;
}

.ms_country {
    vertical-align: middle;
}

footer ul {
    list-style-type: none;
}

.ms_sie {
    width: 150px;
}


